/node_modules
/dist
/build
/src
.env
/coverage
/playwright-report
/test-results

/uploads/*
!/uploads/placeholder.txt

/channels/*
!/channels/placeholder.txt

/files/*
!/files/placeholder.txt
/.cursor
